{% extends 'base.html' %}
{% load static %}
{% block title %}
  Dashboard - Spotify Analytics
{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

  <!-- Time Range Selection -->
  <div class="time-range-selector text-center my-4">
    <form method="get" action="" class="btn-group" role="group">
      <button type="submit" name="time_range" value="short_term" class="btn btn-outline-primary {% if time_range == 'short_term' %}active{% endif %}">4 Weeks</button>
      <button type="submit" name="time_range" value="medium_term" class="btn btn-outline-primary {% if time_range == 'medium_term' %}active{% endif %}">6 Months</button>
      <button type="submit" name="time_range" value="long_term" class="btn btn-outline-primary {% if time_range == 'long_term' %}active{% endif %}">All Time</button>
    </form>
  </div>

  <!-- Dashboard Content -->
  <div class="container">
    <div class="row">
      <!-- Top Tracks -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Your Top Tracks</div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for track in top_tracks %}
                <li class="list-group-item d-flex align-items-center">
                  <a href="{% url 'music:album' track.album.id %}"><img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" class="album-cover" /></a>
                  <div class="ms-3">
                    <a href="{% url 'music:track' track.id %}">{{ track.name }}</a>
                    <br />
                    <small><a href="{% url 'music:artist' track.artists.0.id %}">{{ track.artists.0.name }}</a></small>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Top Artists -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Your Top Artists</div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for artist in top_artists %}
                <li class="list-group-item d-flex align-items-center">
                  <img src="{{ artist.images.0.url }}" alt="{{ artist.name }}" class="album-cover" />
                  <div class="ms-3">
                    <a href="{% url 'music:artist' artist.id %}">{{ artist.name }}</a>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Listening Activity Over Time -->
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-header">Listening Activity Over Time</div>
          <div class="card-body text-center">
            <img src="{% url 'music:line_graph' %}" alt="Listening Activity Over Time" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>

    <!-- Recently Played Tracks -->
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Recently Played Tracks</div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for item in recently_played %}
                <li class="list-group-item d-flex align-items-center">
                  <a href="{% url 'music:album' item.track.album.id %}"><img src="{{ item.track.album.images.0.url }}" alt="{{ item.track.name }}" class="album-cover" /></a>
                  <div class="ms-3">
                    <a href="{% url 'music:track' item.track.id %}">{{ item.track.name }}</a>
                    <br />
                    <small><a href="{% url 'music:artist' item.track.artists.0.id %}">{{ item.track.artists.0.name }}</a></small>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Undecided -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Undecided</div>
          <ul class="list-group list-group-flush"></ul>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Undecided -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Undecided</div>
          <div class="card-body text-center">
            <p>Undecided</p>
          </div>
        </div>
      </div>

      <!-- Top Genres -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-header">Your Top Genres</div>
          <div class="card-body text-center">
            <img src="{% url 'music:pie_chart' %}?time_range={{ time_range }}" alt="Top Genres" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
