{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

  <div class="content">
    <div class="row">
      <div class="col-12">
        <!-- Time Range Selector -->
        <div class="text-center mb-4">
          <form method="get">
            <div class="btn-group">
              <button type="submit" name="time_range" value="last_7_days" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_7_days' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 7 Days</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="last_4_weeks" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_4_weeks' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 4 Weeks</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="6_months" class="btn btn-sm btn-primary btn-simple {% if time_range == '6_months' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">6 Months</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="last_year" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_year' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last Year</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="all_time" class="btn btn-sm btn-primary btn-simple {% if time_range == 'all_time' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All Time</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="button" class="btn btn-sm btn-primary btn-simple" id="customRangeBtn">Custom</button>
            </div>

            <!-- Custom Date Range Inputs -->
            <div class="custom-date-inputs mt-3" style="display: none;">
              <div class="input-group">
                <label for="start_date" class="input-group-text">Start Date</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}" />
                <label for="end_date" class="input-group-text">End Date</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}" />
                <button type="submit" name="time_range" value="custom" class="btn btn-outline-success">Apply</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Podium Section -->
        <div class="row">
          <!-- Podium Card -->
          <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-tag text-info"></i> Your Top {{ stats_title }}</h3>
              </div>
              <div class="card-body">
                {% block podium_content %}

                {% endblock %}
              </div>
            </div>
          </div>

          <!-- Recommendations Card -->
          <div class="col-lg-6">
            <div class="card mb-4 card-list">
              {% block recommendations %}

              {% endblock %}
            </div>
          </div>
        </div>

        <!-- Streaming Trend Card -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary"></i> Your Trending {{ stats_title }}</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px;">
                  {% block streaming_trend %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Radar Chart Card -->
          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-chart-pie-36 text-success"></i> {{ stats_title }} Metrics Comparison</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 700px;">
                  {% block radar_chart %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
          <!-- Doughnut Chart Card -->
          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-sound-wave text-warning"></i> Top {{ stats_title }} as % of Total Listening</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 700px;">
                  {% block doughnut_chart %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Stats Boxes -->
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="numbers">
                  <p>
                    You have listened to <span style="color: #1DB954">{{ stats_boxes.total_items }}</span> different {{ stats_title }} in this time.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="numbers">
                  <p>
                    Your Top 3 {{ stats_title }} account for <span style="color: #1DB954">{{ stats_boxes.top_3_plays|floatformat:1 }}%</span> of your total plays.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="numbers">
                  <p>
                    You've spent <span style="color: #1DB954">{{ stats_boxes.top_3_minutes|floatformat:0 }}</span> minutes listening to your Top 3 {{ stats_title }}.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="numbers">
                  <p>
                    You listened to these {{ stats_title }} on <span style="color: #1DB954">{{ stats_boxes.coverage_percentage|floatformat:1 }}%</span> of days.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Radar Chart Card -->
          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-time-alarm text-danger"></i> Listening Hours Distribution</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px;">
                  {% block polar_area_chart %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
          <!-- Doughnut Chart Card -->
          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="tim-icons icon-chart-pie-36 text-info"></i>
                  {{ stats_title }} Analysis
                </h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px; wdith:500px;">
                  {% block bubble_chart %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-primary"></i>{{ stats_title }} Discovery Timeline</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px;">
                  {% block discovery_timeline %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Stacked Barchart Card -->
          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-warning"></i>{{ stats_title }} Time Distribution</h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px;">
                  {% block stacked_barchart %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="card card-chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="tim-icons icon-chart-pie-36 text-info"></i>
                  {{ stats_title }}
                </h3>
              </div>
              <div class="card-body scrollable">
                <div class="chart-area" style="height: 300px; wdith:500px;">
                  {% block undefined %}

                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script>
    Chart.register(ChartDataLabels)
  </script>
  <script src="{% static 'js/stats_template.js' %}"></script>
{% endblock %}
