{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ track.name }} - {{ artist.name }}
{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/track.css' %}" />
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        {% if track.album.images %}
          <a href="{% url 'music:album' track.album.id %}"><img src="{{ track.album.images.0.url }}" class="img-fluid album-cover" alt="{{ track.name }}" /></a>
        {% else %}
          <img src="{% static 'images/default_cover.jpg' %}" class="img-fluid album-cover" alt="Default Cover" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <h1>{{ track.name }}</h1>
        <p>
          Artist: <a href="{% url 'music:artist' artist.id %}">{{ artist.name }}</a>
        </p>
        <p>
          Album: <a href="{% url 'music:album' album.id %}">{{ album.name }}</a>
        </p>
        <p>Duration: {{ track.duration }}</p>
        <p>Popularity: {{ track.popularity }} / 100</p>
        {% if track.preview_url %}
          <audio controls>
            <source src="{{ track.preview_url }}" type="audio/mpeg" />Your browser does not support the audio element.
          </audio>
        {% else %}
          <p>No preview available</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Other tracks you might like</h2>
        <div class="similar-tracks-scroll-container d-flex">
          {% for similar_track in similar_tracks %}
            <div class="track-card">
              <a href="{% url 'music:track' similar_track.id %}">
                <img src="{{ similar_track.album.images.0.url }}" class="track-img" alt="{{ similar_track.name }}" />
                <div class="track-info">
                  <h5>{{ similar_track.name }}</h5>
                  <p>{{ similar_track.artists.0.name }}</p>
                </div>
              </a>
              {% if similar_track.preview_url %}
                <audio controls>
                  <source src="{{ similar_track.preview_url }}" type="audio/mpeg" />Your browser does not support the audio element.
                </audio>
              {% else %}
                <p class="text-muted">No preview available</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
