body {
    padding-top: 56px; /* Adjust padding to account for the fixed navbar */
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    color: #1DB954; /* Spotify green for links */
    text-decoration: none;
}

a:hover {
    color: #1ED760; /* Slightly lighter green on hover */
}

/* Navbar */
.navbar {
    background-color: #1DB954; /* Spotify green */
    padding: 15px;
    border-radius: 10px; /* Add rounded corners */
    height: 67px;
}

.navbar-brand {
    color: #fff; /* White for brand name */
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff; /* White links */
    
}

.navbar-nav .nav-link:hover {
    color: #85d3a0; /* Lighter green on hover */
}

/* Buttons */
.btn-green {
    background-color: #1DB954;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #1ED760;
}

.btn-dark {
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
}

.btn-dark:hover {
    background-color: #444;
}

/* Cards */
.card {
    background: linear-gradient(100deg, #2e2e2e, #393939);
    border-radius: 10px;
    box-shadow:  2px 2px 5px #1a1a1a,
                 -2px -2px 5px #505050;
    margin-bottom: 20px;
    margin-left: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow:  4px 4px 8px #1a1a1a,
                 -4px -4px 8px #505050;
}

.card-header {
    background-color: #1DB954;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title, .card-text {
    color: #fff; /* White text in cards */
}

/* Footer */
.footer {
    background-color: #1DB954;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

/* Forms */
input[type="text"], input[type="email"], input[type="password"], textarea {
    background-color: #222;
    border: 1px solid #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #1DB954;
    outline: none;
}

/* Lists */
ul.list-group li {
    background-color: #222; /* Darker grey for list items */
    border-color: #1DB954;
}

ul.list-group li:hover {
    background-color: #3f3f3f; /* Slightly lighter than default #222 */
    color: #fff;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead {
    background-color: #1DB954;
    color: #fff;
}

table tbody tr {
    background-color: #333;
    border-bottom: 1px solid #444;
}

table tbody tr:hover {
    background-color: #444;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

/* Modals */
.modal-content {
    background-color: #333;
    color: #fff;
}

.modal-header, .modal-footer {
    background-color: #1DB954;
    color: #fff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #5d8259;
    border-radius: 10px;
}

/* Utility Classes */
.text-green {
    color: #1DB954; /* Green text utility class */
}

.bg-black {
    background-color: #000; /* Black background utility class */
}

.bg-dark {
    background-color: #333; /* Dark background utility class */
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

/* static/css/base.css */
.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    border: 1px solid #ccc; /* Light grey border */
}

.input-group .input-group-text {
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #fff; /* White background for the icon initially */
    color: #000; /* Black icon */
    border: 1px solid #ccc; /* Light grey border */
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #1DB954; /* Spotify green border on focus */
}

.input-group .input-group-text:hover, .input-group .input-group-text:focus {
    background-color: #1DB954; /* Spotify green background on hover */
    color: #fff; /* White icon on hover */
    border-color: #1DB954; /* Green border on hover */
}

/* Center the search form in the navbar */
.search-form {
    width: 60%; /* Adjust width as necessary */
    max-width: 500px; /* Restrict max size */
    margin: auto; /* Ensure form is centered */
    text-align: center;
}

/* Adjusting the search input and icon size */
.search-input {
    height: 40px; /* Match the height of the input and icon */
    border-radius: 30px 0 0 30px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.search-icon {
    height: 40px; /* Same height as input */
    border-radius: 0 30px 30px 0; /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-input:focus, .search-input:hover {
    box-shadow: none; /* No shadow on focus */
    border-color: #1DB954; /* Spotify green border on focus/hover */
}

.search-icon:hover, .search-icon:focus {
    background-color: #1DB954; /* Green background on hover */
    color: #fff; /* White icon on hover */
    border-color: #1DB954;
}

input[type="file"]:focus {
    outline: 2px solid #1DB954; /* Spotify green outline */
}

.bg-spotify-green {
    background-color: #1DB954; /* Spotify green */
}