/* static/css/home.css */
.time-range-selector .btn {
  margin: 0 5px;
  border-color: #1DB954;
  color: #1DB954;
}

.time-range-selector .btn:hover {
  background-color: #1DB954;
  color: #ffffff;
}

.time-range-selector .btn.active {
  background-color: #1DB954;
  color: #ffffff;
  border-color: #1DB954;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.album-cover {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.list-group-item a {
  text-decoration: none;
}

.list-group-item a:hover {
  color: #666666;
}

.list-group-item small a {
  font-size: 0.8rem;
  color: #c5c5c5;
}

.list-group-item small a:hover {
  color: #666666;
}

.list-group-item:hover a {
  color: #ffffff;
}