{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Spotilytics
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSETS_ROOT }}/images/apple-icon.png" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/spotify-theme.css' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Nucleo Icons -->
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />

    <!-- Black Dashboard CSS -->
    <link href="{% static 'css/black-dashboard.css' %}" rel="stylesheet" />

    <!-- Custom Theme CSS -->
    <link href="{% static 'css/spotify-theme.css' %}" rel="stylesheet" />
  </head>
  <body class="">
    <!-- Main Content -->
    <div class="wrapper">
      {% include 'sidebar.html' %}
      <div class="main-panel">
        {% include 'navigation.html' %}

        {% block content %}

        {% endblock %}
      </div>
    </div>

    {% include 'scripts.html' %}

    {% block javascripts %}
      <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>
