<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini"></a>
      <a href="javascript:void(0)" class="simple-text logo-normal">Spotilytics</a>
    </div>
    <ul class="nav">
      <li class="{% if 'home' in segment %} active {% endif %} ">
        <a href="{% url 'music:home' %}">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'spotify-logout' %}">
          <i class="tim-icons icon-button-power"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
