{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
  Dashboard
{% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}

{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/pages/home.css' %}" />

  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-4">
          <form method="get">
            <div class="btn-group">
              <button type="submit" name="time_range" value="last_7_days" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_7_days' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 7 Days</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="last_4_weeks" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_4_weeks' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last 4 Weeks</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="6_months" class="btn btn-sm btn-primary btn-simple {% if time_range == '6_months' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">6 Months</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="last_year" class="btn btn-sm btn-primary btn-simple {% if time_range == 'last_year' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Last Year</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="submit" name="time_range" value="all_time" class="btn btn-sm btn-primary btn-simple {% if time_range == 'all_time' %}active{% endif %}">
                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All Time</span>
                <span class="d-block d-sm-none"><i class="tim-icons icon-calendar-60"></i></span>
              </button>
              <button type="button" class="btn btn-sm btn-primary btn-simple {% if time_range == 'custom' %}active{% endif %}" id="customRangeBtn">Custom</button>
            </div>

            <!-- Custom Date Range Inputs -->
            <div class="custom-date-inputs mt-3" style="display: none;">
              <div class="input-group">
                <label for="start_date" class="input-group-text">Start Date</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}" />
                <label for="end_date" class="input-group-text">End Date</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="{{ end_date }}" />
                <button type="submit" name="time_range" value="custom" class="btn btn-outline-success">Apply</button>
              </div>
            </div>

            <!-- Error Message Display -->
            {% if error_message %}
              <div class="alert alert-danger mt-3" role="alert">{{ error_message }}</div>
            {% endif %}
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>Your Listening Stats</h3>
            </div>
            <div class="card-body">
              {% if listening_stats %}
                <div class="listening-stats container">
                  <div class="stats-row">
                    <div class="stat-item">
                      <p>
                        Total Minutes Streamed: <span class="number">{{ listening_stats.total_minutes_streamed|floatformat:'0'|intcomma }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Unique Tracks: <span class="number">{{ listening_stats.different_tracks|intcomma }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Unique Artists: <span class="number">{{ listening_stats.different_artists|intcomma }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Unique Albums: <span class="number">{{ listening_stats.different_albums|intcomma }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Total Days Streamed: <span class="number">{{ listening_stats.days_streamed }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Average Listening Time per Day: <span class="number">{{ listening_stats.average_listening_time_per_day|floatformat:'0'|intcomma }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Most Played Genre: <span class="number"><a href="{% url 'music:genre' listening_stats.most_played_genre %}">{{ listening_stats.most_played_genre }}</a></span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Top Listening Hour: <span class="number">{{ listening_stats.top_listening_hour }}</span>
                      </p>
                    </div>
                    <div class="stat-item">
                      <p>
                        Most Popular Day: <span class="number">{{ listening_stats.most_popular_day }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="message">
                  <p>Your listening stats will appear here after you import your listening history.</p>
                </div>
                <div class="listening-stats blurred">
                  <p>Total Minutes Streamed: --</p>
                  <p>Different Tracks: --</p>
                  <p>Different Artists: --</p>
                  <p>Different Albums: --</p>
                  <p>Total Days Streamed: --</p>
                  <p>Average Listening Time per Day: -- minutes</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listening History Line Graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-sound-wave text-warning"></i>Listening History</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              {% if chart_data %}
                {{ chart_data|json_script:'chart_data' }}
                <canvas id="listeningStatsChart" style="height: 250px;"></canvas>
              {% else %}
                <p class="text-warning">Line graph data is unavailable.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Stats Boxes -->
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats" style=" height: 120px;">
          <div class="card-body">
            <div class="numbers">
              <p>
                You listened to music on <span style="color: #1DB954">{{ written_stats.days_with_music }}</span> out of <span style="color: #1DB954">{{ written_stats.total_days }}</span> days, which is <span style="color: #1DB954">{{ written_stats.coverage_percentage|floatformat:1 }}%</span>.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-stats" style=" height: 120px;">
          <div class="card-body">
            <div class="numbers">
              <p>
                Your longest listening streak was <span style="color: #1DB954">{{ written_stats.streak_days }}</span> days from <span style="color: #1DB954">{{ written_stats.streak_start }}</span> to <span style="color: #1DB954">{{ written_stats.streak_end }}</span>.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-stats" style=" height: 120px;">
          <div class="card-body">
            <div class="numbers">
              <p>
                Your top artist <span style="color: #1DB954">{{ written_stats.top_artist_name }}</span> accounts for <span style="color: #1DB954">{{ written_stats.top_artist_percentage|floatformat:1 }}%</span> of your total plays.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card card-stats" style=" height: 120px;">
          <div class="card-body">
            <div class="numbers">
              <p>
                <span style="color: #1DB954">{{ written_stats.repeat_percentage|floatformat:1 }}%</span> of your tracks were played more than once.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Top Artists Card -->
      <div class="col-lg-4">
        <div class="card card-list">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-single-02 text-danger"></i>Top Artists</h3>
          </div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for artist in top_artists %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img src="{{ artist.image.0.url }}" alt="{{ artist.artist_name }}" class="album-cover" />
                    <div class="ms-3">
                      <a href="{% url 'music:artist' artist.artist_id %}">{{ artist.artist_name }}</a>
                      <br />
                      <small>{{ artist.total_minutes|floatformat:'0'|intcomma }} minutes</small>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Top Albums Card -->
      <div class="col-lg-4">
        <div class="card card-list">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-headphones text-primary"></i>Top Albums</h3>
          </div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for album in top_albums %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <a href="{% url 'music:album' album.album_id %}"><img src="{{ album.image.0.url }}" alt="{{ album.album_name }}" class="album-cover" /></a>
                    <div class="ms-3">
                      <a href="{% url 'music:album' album.album_id %}">{{ album.album_name }}</a>
                      <br />
                      <small><a href="{% url 'music:artist' album.artist_id %}">{{ album.artist_name }}</a></small>
                      <br />
                      <small>{{ album.total_minutes|floatformat:'0'|intcomma }} minutes</small>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Top Tracks Card -->
      <div class="col-lg-4">
        <div class="card card-list">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-sound-wave text-success"></i>Top Tracks</h3>
          </div>
          <div class="card-body scrollable">
            <ul class="list-group list-group-flush">
              {% for track in top_tracks %}
                <li class="list-group-item d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <a href="{% url 'music:album' track.album_id %}"><img src="{{ track.album_image }}" alt="{{ track.track_name }}" class="album-cover" /></a>
                    <div class="ms-3">
                      <a href="{% url 'music:track' track.track_id %}">{{ track.track_name }}</a>
                      <br />
                      <small><a href="{% url 'music:artist' track.artist_id %}">{{ track.artist_name }}</a></small>
                      <br />
                      <small>{{ track.total_minutes|floatformat:'0'|intcomma }} minutes</small>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-list">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-notes text-warning"></i>Recently Played</h3>
          </div>
          <div class="card-body scrollable" id="recently-played-container">
            <div class="loading">Loading...</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card card-chart">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h3 class="card-title"><i class="tim-icons icon-world text-info"></i>Top Genres</h3>
              </div>
            </div>
          </div>
          <div class="card-body scrollable" style="height: 405px;">
            <div class="chart-area">
              {% if genre_data %}
                {{ genre_data|json_script:'genre_data' }}
                <canvas id="genreChart"></canvas>
              {% else %}
                <p class="text-warning">Line graph data is unavailable.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/pages/home.js' %}"></script>
{% endblock %}
